extends ../layout

block content
	.fluid-container
		.row
			.col-lg-9.col-md-10
				ul.breadcrumb
					li 
						a(href='/') Home
					li Student Management	
					li Enroll Student
		.row
			.col-lg-9.col-md-10
				.panel-group
					.panel.panel-default
						.panel-heading General Information
						.panel-body
							include ../errors
							form(action='/student/addstudent', method='post', novalidate)
								.form-group
									label.col-lg-2.form_lbl(for='firstname') First Name
									input.col-lg-4.form_txt(name='firstname', value=firstname, autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='lastname') Last Name
									input.col-lg-4.form_txt(name='Lastname', value=lastname, autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='parentsname') Parents Name
									input.col-lg-4.form_txt(name='parentsname', value=parentsname, autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='dob') Date of Birth
									input.col-lg-4.form_txt(name='dob', value=dob, type='date', autofocus)
								
								.form-group
									label.col-lg-2.form_lbl(for='address') Address Line
									input.col-lg-10.form_txt(name='address', value=address, autofocus)
								.form-group
									label.col-lg-2.form_lbl(for='village') Village
									input.col-lg-4.form_txt(name='village', value=address, autofocus)
									p.col-lg-5.form_txt ,Gujurat, INDIA
								.form-group
									label.col-lg-2.form_lbl(for='gender') Gender
									input.col-lg-1.form_txt(name='gender', type='radio' ,value=male ,autofocus)
									.col-lg-1.form_txt Male
									input.col-lg-1.form_txt(name='gender', type='radio' ,value=male ,autofocus)
									.col-lg-1.form_txt Female	
					.panel.panel-default
						.panel-heading Evaluation Information
						.panel-body
							.form-group
								label.col-lg-2.form_lbl(for='income') Income(INR)
								input.col-lg-4.form_txt(name='income', value=number, type='number' autofocus)
							.form-group
								label.col-lg-2.form_lbl(for='aadharnbr') Aadhar#
								input.col-lg-4.form_txt(name='aadharnbr', value=aadharnbr, type='text' autofocus)
							.form-group
								label.col-lg-2.form_lbl(for='housetype') House Type
								input.col-lg-4.form_txt(name='housetype', value=housetype, autofocus)
							.form-group
								label.col-lg-2.form_lbl(for='interest') Interests
								input.col-lg-4.form_txt(name='interest', value=interest, autofocus)
							.form-group
								label.col-lg-3.form_lbl(for='financial_position') Financial Position 
								input.col-lg-3.form_txt(name='financial_position',value=financial_position)
							.form-group
								label.col-lg-3.form_lbl(for='studycommitment') Study Commitment 
								input.col-lg-3.form_txt(name='studycommitment',value=studycommitment)
							.form-group
								label.col-lg-3.form_lbl(for='activity') Activity 
								input.col-lg-3.form_txt(name='activity',value=activity)
							.form-group
								label.col-lg-3.form_lbl(for='total') Total 
								input.col-lg-3.form_txt(name='total',value=total)
							.form-group
								label.col-lg-3.form_lbl(for='comment') Comments
								textarea.col-lg-3.form_txt(name='comment', row="4" ,column="2",value=comment)
		.row
			.col-lg-9.col-md-10.form_action
					input.col-lg-4.btn.btn-primary.form_btn(type='submit', value='Enroll')
					input.col-lg-4.btn.btn-primary.form_btn(type='submit', value='Cancel')